@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

a {
  color: blue;
}

a:visited {
  color: purple;
}
